name: presenze

services:
  backend:
    env_file: .env

    build:
      context: .
      dockerfile: backend/docker/${ENV:-dev}/Dockerfile
    entrypoint: bash /app/docker/${ENV:-dev}/entrypoint.sh
    working_dir: /app
    restart: unless-stopped

    volumes:
      - ./backend:/app
      - ./backend/docker/${ENV:-dev}/.zsh_history:/root/.zsh_history:ro
      - ~/.gitconfig:/root/.gitconfig:ro
      - ~/.ssh/:/root/.ssh/:ro

    # NETWORKING
    ports:
      - "${BACKEND_PORT:-8000}:8000"
      - "5678:5678" # Debugger port
    hostname: ${BACKEND_HOSTNAME:-backend.presenze.local}
    networks:
      presenze:
        aliases:
          - ${BACKEND_HOSTNAME:-backend.presenze.local}

  frontend:
    env_file: .env

    build:
      context: .
      dockerfile: frontend/docker/${ENV:-dev}/Dockerfile
    entrypoint: bash /app/docker/${ENV:-dev}/entrypoint.sh
    working_dir: /app
    depends_on:
      - backend
    restart: unless-stopped

    volumes:
      - ./frontend:/app
      - ./frontend/docker/${ENV:-dev}/.zsh_history:/root/.zsh_history:ro
      - ~/.gitconfig:/root/.gitconfig:ro
      - ~/.ssh/:/root/.ssh/:ro

    # NETWORKING
    ports:
      - "${FRONTEND_PORT:-3000}:3000"
    hostname: ${FRONTEND_HOSTNAME:-frontend.presenze.local}
    networks:
      presenze:
        aliases:
          - ${FRONTEND_HOSTNAME:-frontend.presenze.local}

  proxy:
    env_file: .env

    image: nginx:stable-alpine
    working_dir: /etc/nginx
    restart: unless-stopped
    depends_on:
      - backend
      - frontend

    volumes:
      - ./proxy/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./proxy/static/:/usr/share/nginx/html:ro

    # NETWORKING
    ports:
      - "${PROXY_PORT:-80}:80"
    hostname: ${PROXY_HOSTNAME:-proxy.presenze.local}
    networks:
      presenze:
        aliases:
          - ${PROXY_HOSTNAME:-proxy.presenze.local}

networks:
  presenze:
    driver: bridge
